<div class="container">
<%= link_to 'New', new_city_path %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>sno</th>
        <th>Place Name</th>
        <th>Latitude</th>
		<th>Longitude</th>
      </tr>
    </thead>
    <tbody>
		<% @city.each do |city|%>
	 <tr>
		<td><%= city.id%></td>
		<td><%= city.name%></td>
		<td><%= city.latitude%></td>
		<td><%= city.longitude%></td>
	</tr>
	<%end%>
    </tbody>
  </table>
</div>
